@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f6f8;
  --foreground: #0d2338;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
